@import url("basic_base.css");

.favstar {width: 18px; height: 18px; vertical-align:middle; cursor: pointer; background:url(../images/bookmark_off_18x18.png) no-repeat; display:inline-block; padding-bottom:3px;}
.favstar.on {background:url(../images/bookmark_on_18x18.png) no-repeat;}

.main-system-icon {width:18px; height:18px; vertical-align:middle; background:url(..//images/system_18.png) no-repeat; display:inline-block; padding-bottom:4px;}
.main-logout-icon {width:16px; height:16px; vertical-align:middle; background:url(..//images/logout_16.png) no-repeat; display:inline-block; padding-bottom:6px;}

#GAWrap { width:1904px; height:100%; margin:0 auto; min-width:1904px; }	
/*#GAWrap { width:100%; height:100%; margin:0 auto; min-width:1600px; }*/	
 
/* Header */
#header {  width:100%; position:relative;  background:url(../images/topBg.jpg) repeat-x  0 0;  }
#header h1 { ; display:inline-block; float:left; background:url(../images/logo.png) no-repeat 0 0px; background-size:95%; width:100px; height:70px; }
.GAgnb { height:70px; margin-left:110px; position:relative  }
.GAgnb ul li {height:70px; min-width:245px;   float:left; text-align:center; padding:0 1px;   padding-top:15px !important ; }
.GAgnb ul li a{ font-size:1.8em; text-shadow:1px 1px 1px #000; font-weight:bold; color:#b4b7bc !important;  }
.GAgnb ul li a:hover{ font-size:1.8em; color:#fff !important   }
.GAgnb ul li a span { display:inline-block; padding-top:4px;}
.GAgnb ul li.on { background:url(../images/tab_on_b.jpg) no-repeat 150% 0;}
.GAgnb ul li.on a {color:#fff !important;}
.topMenu { position:absolute; right:10px; height:70px; min-width:100px; height:35px; top:38px; text-align:right; }
.topMenu img{ padding-top:2px;}
.topMenu span { display:inline-block; padding-left:7px;  font-size:16px; font-weight:bold; letter-spacing:-0.04em;}
.topMenu a{ color:#b6b6b6}
.topMenu a:hover{ color:#FFF}

.userInfo { color:#fff; position:absolute; right:10px; height:70px; min-width:100px; height:35px; top:10px; text-align:right; }
.userInfo span { display:inline-block; padding-left:7px;  font-size:15px; font-weight:normal; letter-spacing:-0.04em;}

.all-tab-close { position:absolute; right:10px; min-width:100px; top:75px; text-align:right; z-index: 9;}
.all-tab-close img {cursor:pointer;}

.GALnb { height:46px; background:url(../images/topBg.jpg) repeat-x  0 -70px; width:100%; position:relative }
.gnbList { z-index:10;  background:url(../images/menuBg.png) repeat 0 0; position:absolute; top:70px; left:20px; right:20px; border:1px solid #bec3cd}
.gnbList ul { float:left; min-width:245px;  padding-top:10px; margin-left:2px; min-height:380px;}
.gnbList ul.on { background:#575b65;}
.gnbList ul.subList { margin-left:92px}

.gnbList ul li {line-height:38px;; font-size:18px; text-indent:10px; letter-spacing:-0.06em }
/*.gnbList ul li {line-height:38px;;font-size:18px; background:url(../images/ico02.gif) no-repeat left 20px; text-indent:10px; margin-left:15px;  letter-spacing:-0.06em }*/
.gnbList ul li a { color:#dfe1e6;}
.gnbList ul li.on a, .gnbList ul li a:hover {color: #fff !important; font-weight:bold}

.gnbListBG { z-index:2; position:absolute; top:70px; left:20px; right:20px; width:100%; display:none;}

/* Container */
#container {margin:0px;  padding:0; width:1904px; height:943px;}
/* #container {margin:0px 19px;  padding:5px 0;} */